html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #ffffff;
  /* background-color: gray; */
  color: #434343;
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-first {
  font-size: 16px;
  line-height: 1.8;
}

.text-second {
  font-size: 16px;
  line-height: 1.7;
}

.text-third {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.7;
}

.text-fourth {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.button-link {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
  display: inline-block;
  min-width: 200px;
}

.see-more {
  min-width: 200px;
  padding-left: 26px;
  padding-right: 26px;
}

input {
  width: 500px;
  padding: 22px 25px;
  border: none;
}

.button {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
  display: inline-block;
  border: none;
  min-width: 150px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}

.link {
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}

.link:hover,
.link:focus {
  color: #023957;
}

.logo {
  font-weight: 700;
  font-size: 66px;
  line-height: 1.17;
}

header {
  color: #434343;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    width: 100%;
  }
}

.header-logo {
  font-size: 30px;
}
@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 66px;
  }
}

.icon-cross {
  display: none;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-container {
  position: absolute;
  padding-bottom: 10px;
  padding-top: 10px;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  background-color: #fff;
  color: #434343;
  display: none;
  z-index: 99;
}
.header-menu-container .link {
  font-size: 25px;
}
.header-menu-container li {
  margin-bottom: 10px;
}
.header-menu-container.is-open {
  display: block;
}
@media screen and (min-width: 1200px) {
  .header-menu-container.is-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu-container {
    display: none;
  }
}

.header-nav-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.header-nav-button.is-open .icon-cross {
  display: block;
}
.header-nav-button.is-open .icon-menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-nav-button {
    display: none;
  }
  .header-nav-button.is-open .icon-cross {
    display: none;
  }
  .header-nav-button.is-open .icon-menu {
    display: none;
  }
}

.header-nav-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-nav-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav-list > li:not(:last-child) {
    margin-right: 40px;
  }
  .header-nav a {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 57px;
    padding-bottom: 57px;
    display: block;
  }
}
.hero {
  color: #ffffff;
  background-image: url(../../images/IMG.jpg);
  background-size: 480px 580px;
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding: 100px 0;
  /* position: relative; */
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(26.47deg, #023957 22.58%, #056088 94.16%);
    position: relative;
    height: 680px;
    padding: 0;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/IMG@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(26.47deg, #023957 22.58%, #056088 94.16%);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background-image: url(../../images/IMG@3x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(26.47deg, #023957 22.58%, #056088 94.16%);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 10px;
}
@media screen and (max-width: 375px) {
  .hero-title {
    font-size: 20px;
  }
}

.hero-text {
  margin-bottom: 16px;
  font-size: 20px;
}
@media screen and (max-width: 375px) {
  .hero-text {
    font-size: 15px;
  }
}

.hero-text,
.hero-button-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
}

@media screen and (min-width: 1200px) {
  .hero-text-container {
    position: absolute;
    z-index: 2;
    top: 180px;
  }
}
.hero-img-container {
  position: absolute;
  z-index: 1;
  /* right: 50%; 
  top: 0;
  transform: translateX(-50%); */
  /* bottom: 0; */
  margin-left: auto;
  right: 0;
  display: none;
}
.hero-img-container img {
  width: 900px;
  height: 690px;
}
@media screen and (min-width: 1200px) {
  .hero-img-container {
    display: block;
  }
}

.hero-container {
  position: relative;
  margin: 0 auto;
  display: block;
  max-width: 1440px;
}

.our-company-list {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .our-company-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.our-company {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .our-company {
    padding-bottom: 50px;
  }
}

.our-company-list p {
  color: #056088;
  margin-bottom: 32px;
}

.our-company-list > li:not(:last-child) {
  margin-right: 62px;
}

.our-company-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  color: #056088;
  margin-bottom: 16px;
}

.company-text-first {
  margin-bottom: 16px;
  font-size: 20px;
}

.company-text-second {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 16px;
}

.services {
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .services {
    padding-bottom: 400px;
  }
}

.services h2 {
  color: #056088;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 16px;
}

.services p.text-first {
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .services p.text-first {
    font-size: 18px;
  }
}

.services-list h3 {
  margin-bottom: 16px;
  margin-top: 16px;
}

.services-list {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.services-list li {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
}
.services-list li:last-child {
  margin: 0;
}
.services-list li.text-second {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .services-list li {
    -ms-flex-preferred-size: calc((100% - 5px) / 2);
        flex-basis: calc((100% - 5px) / 2);
    margin-left: 5px;
    margin-bottom: 0;
  }
  .services-list li:nth-child(2n) {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .services-list li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .services-list li:hover {
    background-image: url(../../images/services-bg.jpg);
    color: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
  }
  .services-list li:hover .icon {
    fill: #fff;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .services-list li:hover {
    background-image: url(../../images/services-bg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .services-list li:hover {
    background-image: url(../../images/services-bg@3x.jpg);
  }
}
.services-list .icon {
  fill: #434343;
}

.benefits h2.benefits-title {
  color: #056088;
  margin-bottom: 16px;
}

.benefits p.benefits-p {
  margin-bottom: 32px;
}

.benefits {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-75%);
            transform: translateX(-50%) translateY(-75%);
    padding: 0;
  }
}

.benefits-list h3,
.benefits-list p {
  color: #ffffff;
}

.benefits-list li {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: url(../../images/benefits-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .benefits-list li {
    width: 380px;
    height: 300px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1300px) {
  .benefits-list li {
    height: 300px;
    width: 410px;
    padding-right: 95px;
    padding-left: 95px;
    padding-bottom: 42px;
    padding-top: 52px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .benefits-list li {
    background-image: url(../../images/benefits-bg@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .benefits-list li {
    background-image: url(../../images/benefits-bg@3x.jpg);
  }
}

.benefits-list li:nth-child(3) {
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1160px;
  }
}
@media screen and (min-width: 1300px) {
  .benefits-list {
    width: 1260px;
  }
}

.works {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 96, 136, 0.9)), to(rgba(2, 57, 87, 0.9))), url(../images/Rectangle-38.jpg);
  background: linear-gradient(180deg, rgba(5, 96, 136, 0.9) 0%, rgba(2, 57, 87, 0.9) 100%), url(../images/Rectangle-38.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .works {
    padding-bottom: 0;
    height: 1310px;
    padding-top: 130px;
  }
}

.works h2,
.works p {
  text-align: center;
}

.works h2 {
  margin-bottom: 16px;
}

.works p {
  margin-bottom: 32px;
}

@media screen and (min-width: 1200px) {
  .works-list {
    display: inline-grid;
    grid-template-columns: 420px 210px 420px;
    grid-template-rows: 220px 220px;
    gap: 20px;
  }
}
.item-img {
  width: 280px;
}
@media screen and (min-width: 768px) {
  .item-img {
    width: 320px;
  }
}
@media screen and (min-width: 1200px) {
  .item-img {
    width: auto;
  }
}

.not-li {
  display: none;
}
@media screen and (min-width: 1200px) {
  .not-li {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works-list li {
    margin-right: 10px;
    margin-bottom: 6px;
  }
  .works-list li.work-list-item3, .works-list li.work-list-item5 {
    margin-right: 0;
  }
  .works-list li.work-list-item4, .works-list li.work-list-item5 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .works-list {
    display: grid;
  }
  .works-list li {
    margin: 0;
  }
}
.work-list-item2 {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work-list-item2 {
    display: block;
  }
}

/* .works-button-link {
} */
.underundertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.underundertitle::before {
  content: "";
  width: 450px;
  height: 2px;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#056088), to(#09A7CA));
  background: linear-gradient(180deg, #056088 0%, #09A7CA 100%);
  margin-right: 40px;
  display: none;
}
@media screen and (min-width: 768px) {
  .underundertitle::before {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .underundertitle::before {
    width: 714.5px;
  }
}

.undertitle {
  margin-top: 32px;
  display: block;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .undertitle {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    text-align: right;
  }
}

.reviews {
  text-align: center;
  background-image: url(../../images/rewiews-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 125px;
}
@media screen and (min-width: 1200px) {
  .reviews {
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
    position: absolute;
    background-image: none;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.rewiews-block {
  padding-top: 51px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
@media screen and (min-width: 1200px) {
  .rewiews-block {
    background-color: #fff;
  }
}

.reviews h2 {
  color: #ffffff;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .reviews h2 {
    color: #056088;
  }
}

.reviews p.text-first {
  margin-bottom: 32px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .reviews p.text-first {
    color: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .rewiews-block {
    background-color: #fff;
  }
}
.review-img {
  position: absolute;
  top: -50px;
  left: -15px;
}

.reviews-container {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .review-container {
    position: absolute;
    right: 10px;
    top: 50%;
  }
}
.reviews-image {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews-image {
    display: block;
    width: 900px;
    height: 401px;
  }
}

.review {
  color: #ffffff;
  background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
  width: 100%;
  padding-left: 50px;
  padding-right: 24px;
  padding-top: 59px;
  padding-bottom: 29px;
  position: relative;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .review {
    width: 416px;
  }
}

.review-text {
  font-style: italic;
  font-size: 16px;
  line-height: 1.7;
}

.review-end {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
}

.rewiews-button-link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 102%;
}
@media screen and (min-width: 1200px) {
  .rewiews-button-link {
    position: static;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    top: 0;
  }
}

.subscribe {
  color: #ffffff;
  text-align: center;
  padding-top: 25px;
  background-image: url(../../images/BG.jpg);
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .subscribe {
    background-image: url(../../images/BG@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .subscribe {
    background-image: url(../../images/BG@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    background-image: none;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.subscribe-input {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 445px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1300px) {
  .subscribe-input {
    width: 502px;
    margin-bottom: 0px;
  }
}

.subscribe .container-sub {
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .subscribe .container-sub {
    background-image: url(../../images/BG.jpg);
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 55px;
    padding-bottom: 55px;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .subscribe .container-sub {
    background-image: url(../../images/BG@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .subscribe .container-sub {
    background-image: url(../../images/BG@3x.jpg);
  }
}

.subscribe h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .subscribe h2 {
    font-size: 52px;
  }
}

.subscribe p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .subscribe p {
    font-size: 16px;
  }
}

footer {
  color: #ffffff;
  background-color: #023957;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts-list a {
  font-size: 16px;
  line-height: 1.5;
  padding: 1px 0;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .footer-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.footer-menu {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .footer-menu {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-nav a {
  font-size: 16px;
  line-height: 1.5;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
  color: #09A7CA;
}

.footer-nav .link {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .footer-nav li:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 19px;
  }
}

.logo-container {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .logo-container {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */