:root {
    --main-text-colour: #434343;
    --white: #ffffff;
    --second-text-colour: #056088;
    --acent: #09A7CA;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    /* background-color: var(--white); */
    background-color: gray;
    color: var(--main-text-colour);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-first {
    font-size: 16px;
    line-height: 1.8;
}

.text-second {
    font-size: 16px;
    line-height: 1.7;
}

.text-third {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.7;
}

.text-fourth {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
}

.container {
    width: 1310px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.button-link {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    display: inline-block;
    min-width: 200px;
}

.see-more {
    min-width: 200px;
    padding-left: 26px;
    padding-right: 26px;
}

input {
    width: 500px;
    padding: 22px 25px;
    border: none;
}

.button {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    display: inline-block;
    border: none;
    min-width: 150px;
    padding-left: 25px;
    padding-right: 25px;
}

header {
    color: var(--white);
}

.logo {
    font-weight: 700;
    font-size: 66px;
    line-height: 1.17;
}

.header-nav a {
    font-size: 16px;
    line-height: 1.5;
}

.link:hover, .link:focus {
color: var(--acent);
}

.hero {
    color: var(--white);
}

.hero-title {
    font-weight: 700;
    font-size: 52px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.hero-text {
    margin-bottom: 32px;
}

.hero-text,
.hero-button-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
}

.our-company-list p {
    color: var(--second-text-colour);
    margin-bottom: 32px;
}

.our-company-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    color: var(--second-text-colour);
    margin-bottom: 16px;
}

.company-text-first {
    margin-bottom: 16px;
}

.company-text-second {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 16px;
}

.services h2 {
    color: var(--second-text-colour);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 16px;
}

.services p.text-first {
    text-align: center;
    margin-bottom: 32px;
}

.services-list h3 {
    margin-bottom: 16px;
    margin-top: 16px;

}

.services-list li {
    width: 310px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    /* margin-right: 20px; */
}



/* .services-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

.services-list .services-list-li {
    margin: 0;
}

.benefits h2.benefits-title {
    color: var(--second-text-colour);
    margin-bottom: 16px;
}

.benefits p.benefits-p {
    margin-bottom: 32px;
}

.benefits {
    text-align: center;
}

.benefits-list h3, .benefits-list p {
    color: var(--white);

}

.benefits-list li {
    padding-right: 95px;
    padding-left: 95px;
    padding-bottom: 42px;
    padding-top: 52px;
    background: linear-gradient(180deg, rgba(5, 96, 136, 0.8) 0%, rgba(2, 57, 87, 0.8) 100%);;
    margin-right: 20px;
}

.benefits-list li:nth-child(3) {
    margin: 0;
}

.benefits-list {
    display: flex;
}

.works {
    color: var(--white);
}

.works h2,
.works p {
    text-align: center;
}

.works h2 {
    margin-bottom: 16px;
}

.works p {
    margin-bottom: 32px;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
}

.works-button-link {
    margin-top: 32px;
}

.reviews h2 {
    color: var(--second-text-colour);
    margin-bottom: 16px;
}

.reviews p.text-first {
    margin-bottom: 32px;
}

/* .rewiews-block {
    background-color: #fff;
} */

.review {
    color: var(--white);
    background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
}

.review-text {
    font-style: italic;
    font-size: 16px;
    line-height: 1.7;
}

.review-end {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.7;
}

.video {
    text-align: right;
}

.video iframe {
    width: 1080px;
    height: 512px;
}

.video-container {
    text-align: center;
}

.video p {
    color: var(--white);
    background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
    padding: 40px;
    display: inline-flex;
    text-align: right;
}

.subscribe {
    color: var(--white);
    text-align: center;
}

.subscribe .container-sub {
    background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.subscribe h2 {
    font-weight: 700;
    font-size: 52px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 32px;
}

footer {
    color: var(--white);
}

.contacts-list a {
    font-size: 16px;
    line-height: 1.5;
}

.footer-menu {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
}

.footer-nav a {
    font-size: 16px;
    line-height: 1.5;
}